$bg-secondary: $secondary;
$bg-primary: $primary;
$bg-black: $black;
$bg-white: $white;
$bg-range-back-bar-color: $gray-200;
$sort-switch-bg-color: $gray-250;
$stars-active-color: $warning;
$stars-color: $gray-200;
$text-primary: $primary;
$text-secondary: $secondary;
$text-white: $white;
$show-more-text-color: $gray-600;
$discount-price-color: $gray-600;
$filters-categorie-color: $gray-700;
$price-range-color: $gray-700;
$filters-link-color: $gray-700;
$filters-input-color: $gray-700;
$border-color-light: $gray-100;
$border-color-dark: $gray-450;
$input-border-color: $gray-200;
$border-color: $gray-200;
$border-secondary: $secondary;
$input-placeholder-color: $gray-600;
$box-shadow-color: $gray-400;
$breadcrumbs-item-color: $gray-600;

//Forms
.form-control {
  height: auto;
  padding: 0.6rem 1.45rem;
  color: $text-primary;
  background-color: transparent;
  border: 2px solid $border-color;
  border-right-color: transparent;
  border-radius: 10px;
  box-shadow: none;
  &:focus {
    color: $text-primary;
    background-color: transparent;
    border-color: darken($border-color, 5%);
    border-right-color: transparent;
  }
  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
    font-weight: 300;
  }
}

.input-group-text {
  padding: 0.6rem 1.64rem;
  background-color: $bg-secondary;
  border: 2px solid $bg-secondary;
  border-radius: 0.71rem;
}

//Buttons
.btn-theme {
  padding: 10px 40px;
  font-weight: 500;
  font-size: 1.14rem;
}

.btn-theme-lg {
  padding: 10px 80px;
}

.btn-light {
  background: $bg-white;
  color: $text-secondary;
  border: 1px solid $border-secondary;
  &:hover {
    background: $bg-secondary;
    color: $text-white;
    border: 1px solid $border-secondary;
  }
}

.show-more {
  padding: 15px 0;
  border: 2px solid $border-color;
  text-align: center;
  color: $show-more-text-color;
  font-size: 1rem;
  transition: 0.3s linear;
  &-img.active {
    margin-right: 10px;
  }
  &-img.hover {
    display: none;
    margin-right: 10px;
  }
  &:hover {
    color: $text-secondary;
    text-decoration: none;
    border: 2px solid $border-secondary;
    .active {
      display: none;
    }
    .hover {
      display: inline-block;
    }
  }
}

//Category items
.category-item {
  &-img-wrapper {
    position: relative;

    .category-item-img {
      width: 100%;
    }
    &:hover .category-item-details {
      background: rgba($bg-black, 0.7);
    }
  }
  &-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($bg-black, 0.5);
    padding: 20px 16px;
    transition: 0.3s linear;
    text-transform: capitalize;
    color: $text-white;
    &:hover {
      color: $text-white;
      text-decoration: none;
    }
    &-title {
      padding-bottom: 10px;
      border-bottom: 2px solid $border-secondary;
      font-size: 1.71rem;
      margin-bottom: 10px;
      display: inline-block;
      font-weight: 500;
    }
    &-description {
      font-size: 1.14rem;
      font-weight: 500;
    }
  }
}

//Product item big
.product-item-big {
  padding: 30px 15px 25px 15px;
  box-shadow: none;
  background: $bg-white;
  position: relative;
  &-img {
  }
  &-details {
    .product-rating {
      margin-bottom: 10px;
    }
    &-title {
      text-transform: capitalize;
      margin-bottom: 25px;
      font-weight: 400;
      a {
        transition: 0.3s linear;
      }
    }
    &-price {
      font-size: 1.71rem;
      font-weight: 700;
      margin-bottom: 25px;
      .current-price {
        margin-right: 25px;
      }
      .old-price {
        font-size: 1.42rem;
        color: $discount-price-color;
      }
    }
    &-action {
      .btn-theme {
        padding: 8px 13px;
        margin-right: 15px;
      }
      &-cart-wrapper {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 0;
      }
      &-like {
        &-wrapper {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 20px;
          padding: 10px;
          border-radius: 50%;
          border: 1px solid $border-color;
          margin-bottom: 0;
          .active {
            transition: 0.3s linear;
            margin-top: 2px;
          }
          .hover {
            display: none !important;
            margin-top: 2px;
          }
          &:hover .active {
            display: none !important;
          }
          &:hover .hover {
            display: block !important;
          }
        }
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba($black, 0.2);
    z-index: -1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
  &:hover {
    z-index: 100;
  }
}

// Sticker
.sticker-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  .sticker {
    background: $bg-secondary;
    color: $text-white;
    padding: 5px 10px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    &-big {
      font-size: 1.17rem;
    }
    &-small {
      font-size: 0.85rem;
    }
  }
}

//Product item small
.product-item-small {
  padding: 15px 12px 17px 18px;
  background: $bg-white;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 0px 10px rgba($black, 0.16);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
  &:hover {
    z-index: 100;
  }
  &-img {
  }
  &-details {
    .product-rating {
      margin-bottom: 10px;
    }
    &-title {
      text-transform: capitalize;
      margin-bottom: 0;
      line-height: 1.2;
      height: 3.6rem;
      overflow: hidden;
      a {
        transition: 0.3s linear;
      }
    }
    &-price {
      font-size: 1.14rem;
      font-weight: 700;
    }
  }
}

//Services
.services {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba($black, 0.16);
  background: $bg-white;
  &-item {
    &-img-wrapper {
      margin-bottom: 0;
    }
    &-description {
      text-transform: capitalize;
      &-text-lead {
        font-size: 1.17rem;
        font-weight: 700;
        margin-bottom: 0;
      }
      &-text {
        margin-bottom: 0;
      }
    }
  }
}
//Filters
.filters {
  background: $bg-white;
  &-header {
    padding: 30px;
    border-bottom: 2px solid $border-color-light;
    &-title {
      font-size: 1.71rem;
      text-transform: capitalize;
      margin-bottom: 0;
    }
    &-close {
      cursor: pointer;
    }
  }
  .accordion {
    .filters-type {
      line-height: 0;
      padding: 15px 0 15px 33px;
      border-bottom: 2px solid $border-color-light;
      position: relative;
      .btn-link {
        padding: 0;
        font-size: 1.14rem;
        font-weight: 700;
        text-transform: capitalize;
        display: block;
        &:hover {
          color: $text-primary;
          text-decoration: none;
        }
        &:active,
        &:active:focus {
          box-shadow: inset 0 0 0 transparent;
        }
        .filter-collapse-icon {
          position: absolute;
          left: 5px;
          top: 26%;
          font-size: 1.8rem;
          transform: rotateZ(270deg);
          transition: 0.3s linear;
        }
      }
    }
    .filters-categorie {
      padding: 0 0 10px 33px;
      border-bottom: 2px solid $border-color-dark;
      font-size: 1rem;
      color: $filters-categorie-color;
      text-transform: capitalize;
      &-link {
        padding-left: 0;
        transition: 0.3s linear;
        .fa-angle-left {
          color: $filters-categorie-color;
          position: relative;
          top: 0;
        }
      }
      &-text {
        font-weight: 700;
        padding-left: 10px;
        margin-bottom: 0;
      }
    }
    .filters-refine {
      &-title {
        padding: 15px 0 15px 33px;
        border-bottom: 2px solid $border-color-light;
        text-transform: capitalize;
        font-weight: 700;
      }
      &-form {
        padding: 10px 30px 0 33px;
        .form-control {
          border-right-color: $input-border-color;
          color: $filters-input-color;
          font-size: 0.92rem;
        }
        &-link {
          padding-left: 10px;
          text-transform: capitalize;
          font-size: 1rem;
          transition: 0.3s linear;
        }
      }
    }
    .price-range-form {
      padding-top: 13px;
      .price-range {
        color: $text-white;
        font-size: 1rem;
        .low-val,
        .high-val {
          font-variant-numeric: tabular-nums;
        }
        .val-dash {
          font-weight: 900;
        }
      }

      .slider-container {
        padding: 0 30px 0 33px;
        width: 317px !important;
        margin-bottom: 20px;
      }

      .theme-blue .back-bar {
        height: 3px;
        border-radius: 0;
        background-color: $bg-range-back-bar-color;
        background-image: none;

        .selected-bar {
          height: 3px;
          border-radius: 0;
          background-color: $bg-secondary;
          background-image: none;
        }
        .pointer {
          width: 15px;
          height: 15px;
          top: -6px;
          box-sizing: border-box;
          border-radius: 50%;
          border: 2px solid $text-secondary;
          background-color: $bg-secondary;
          background-image: none;
          cursor: grab;
        }
        .high {
          background-color: $bg-secondary;
        }
      }
      .scale {
        display: none;
      }
      .price-range {
        color: $price-range-color;
        padding-left: 33px;
        font-size: 1rem;
        margin-bottom: 0;
        .low-val,
        .high-val {
          color: $text-primary;
          font-weight: 700;
        }
        .low-val {
          margin-left: 5px;
        }
      }
    }
    .filter {
      padding: 12px 0;
      border-bottom: 2px solid $border-color-dark;
    }
    .filters-link {
      display: block;
      color: $filters-link-color;
      font-size: 1rem;
      padding: 5px 0 5px 33px;
      text-transform: capitalize;
      transition: color 0.3s linear;
      &:hover {
        color: $text-secondary;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

//Sort bar
.sort-bar {
  padding: 8px 0;
  margin: 0 -53px 15px -53px;
  background: $bg-white;

  .sort-by {
    padding: 0 53px;
    &-form {
      label {
        margin: 0 15px 0 0;
      }
      .form-group {
        width: 115px;
        margin-bottom: 0;
      }
      .select2-container--default {
        .select2-selection--single {
          background-color: transparent;
          border: 1px solid $border-color;
          border-radius: 10px;
          height: auto;
          padding: 5px 10px;
          font-size: 1rem;
          position: relative;

          .select2-selection__rendered {
            color: $text-primary;
            line-height: 1;
            padding-left: 0;
            padding-right: 0;
            font-family: inherit;
          }
          .select2-selection__arrow {
            top: -2px;
          }
          .select2-selection__arrow b {
            border-color: $text-primary transparent transparent;
            border-width: 6px 6px 0;
            margin-left: -9px;
            margin-top: -1px;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 576px) {
    padding: 0;
    margin: 0 0 15px;
    .sort-by {
      padding: 10px 20px;
      flex: 1;
      &-form {
        .form-group {
          width: 200px;
        }
      }
    }
    .sort-switch {
      padding: 10px 15px;
      background: $sort-switch-bg-color;
      .switch-icon {
        cursor: pointer;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    margin-bottom: 20px;
    .sort-by {
      &-form {
        .form-group {
          width: 115px;
        }
        .select2-container--default {
          .select2-selection--single {
            padding: 12px 10px;
            .select2-selection__arrow {
              top: 5px;
            }
          }
        }
      }
    }
    .sort-switch {
      padding: 20px 15px;
    }
  }
}

//Breadcrumbs
.breadcrumb {
  background-color: transparent;
  padding: 5px 0 0 0;

  &-item {
    font-size: 0.85rem;
    color: $breadcrumbs-item-color;
    text-transform: capitalize;
    a {
      color: inherit;
      transition: 0.3s linear;
      &:hover {
        text-decoration: none;
        color: $text-secondary;
      }
    }
  }
}

//Pagination
.pagination {
  border-radius: 0;
  .page-item {
    &:first-child .page-link {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:last-child .page-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.disabled,
    &[disabled] {
      .page-link {
        border: none;
        background: transparent;
      }
    }
    .page-link {
      padding: 8px 11px;
      margin: 0 5px;
      line-height: 1.25;
      font-size: 0.85rem;
      background: $bg-white;
      border: 1px solid $border-color;
      transition: 0.3s linear;
      &:hover {
        background: $bg-secondary;
        color: $text-white;
        border: 1px solid $border-secondary;
      }
    }
  }
}
