$border-color: $gray-200;
$border-secondary: $secondary;
$text-secondary: $secondary;
$text-white: $white;
$box-shadow-color: $gray-400;
$bg-white: $white;
$bg-secondary: $secondary;

.main-content {
  overflow: hidden;
  border-top: 2px solid $border-color;
  .container {
    padding: 0 24px;
  }

  .subcategory-slider-wrapper {
    .subcategory-slider {
      .owl-stage-outer {
        overflow: initial;
      }
      .owl-nav {
        display: none;
      }
    }
  }
  .category-products {
    margin-bottom: 30px;
    .product-item-big {
      max-width: 400px;
      margin: 0 auto 10px;
      &-details {
        &-action {
          &-like {
            &-wrapper {
              .active {
                transition: 0.3s linear;
                margin-top: -1px;
              }
              .hover {
                margin-top: 2px;
              }
            }
          }
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 10px rgba($black, 0.20);
        opacity: 1;
      }
    }
    .show-more {
      background: $bg-white;
      margin: 30px 0 15px;
    }
  }
}

@media only screen and (min-width: 400px) {
  .main-content {
    .subcategory-slider-wrapper {
      .subcategory-slider {
        &-item {
          .category-item {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .main-content {
    .container {
      padding: 0 15px;
    }
    .category-products {
      .product-item-big {
        margin-bottom: 0;
        &:after {
          opacity: 0;
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .main-content {
    border-top: none;
    .subcategory-slider-wrapper {
      .subcategory-slider {
        .owl-stage-outer {
          overflow: hidden;
        }
        .owl-nav {
          display: block;
          position: absolute;
          top: 19%;
          left: 0;
          width: 100%;
          text-align: center;
          [class*='owl-']:hover {
            background: none;
          }
          .owl-next,
          .owl-prev {
            position: absolute;
            cursor: pointer;
          }
          .owl-prev {
            left: 0;
          }
          .owl-next {
            right: 0;
          }
        }
      }
    }
    .category-products {
      margin-bottom: 60px;
      .product-item-big {
        &-details {
          &-price {
            margin-bottom: 0;
          }
          &-action {
            display: none !important;
          }
        }
        &:hover {
          position: absolute;
          //z-index: 100;
        }
        &:hover .product-item-big-details-price {
          margin-bottom: 20px;
        }
        &:hover .product-item-big-details-action {
          display: flex !important;
        }
      }
      .show-more {
        margin-bottom: 60px;
      }
    }
    .recently-viewed {
      margin-bottom: 40px;
      .product-item-big {
        &-details {
          &-price {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1230px) {
  .main-header {
    box-shadow: 0 4px 6px rgba($black, 0.1);
  }
  .main-content {
    .breadcrumb {
      padding: 15px 0 30px;
    }
    .filters {
      box-shadow: 0 3px 6px rgba($black, 0.16);
      .accordion {
        .price-range-form {
          .slider-container {
            width: 262px !important;
          }
        }
      }
    }
    .category-products {
      .product-item-big {
        &-details {
          &-action {
            .btn-theme {
              padding: 8px 4px;
              &-cart-wrapper {
                width: 24px;
                height: 24px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .main-content {
    .filters {
      .accordion {
        .price-range-form {
          .slider-container {
            width: 301px !important;
          }
        }
      }
    }
    .category-products {
      .product-item-big {
        &-details {
          &-action {
            .btn-theme {
              padding: 8px 13px;
              &-cart-wrapper {
                width: 30px;
                height: 30px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }
}
