$product-page-color: $gray-700;
$product-id-color: $gray-600;
$table-first-column-color: $gray-600;
$table-second-column-color: $gray-700;
$user-review-date: $gray-600;
$text-primary: $primary;
$background-secondary: $secondary;
$background-white: $white;
$quantity-bg-color: $white;
$border-color: $gray-200;
$border-secondary: $secondary;

.main-content {
  .product {
    color: $product-page-color;
    .product-rating {
      .reviews-info {
        font-size: 0.85rem;
        margin-bottom: 0;
        a {
          transition: 0.3 linear;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .page-title {
      text-transform: none;
      margin-bottom: 25px;
      .product-make-title {
        text-transform: capitalize;
      }
    }
    .product-status {
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 10px;
      .product-id {
        font-weight: 400;
        color: $product-id-color;
      }
    }
    &-slider-wrapper {
      margin-bottom: 15px;
      .product-slider {
        .owl-dots {
          margin-top: 8px;
          .owl-dot span {
            background: transparent;
            border: 2px solid $background-secondary;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 3px;
          }
          .owl-dot.active span {
            background: $background-secondary;
          }
        }
      }
    }
    &-purchase {
      margin-bottom: 35px;
      &-specs {
        margin-bottom: 15px;
        &-title {
          text-transform: capitalize;
          font-size: 1rem;
          color: $text-primary;
          margin-right: 20px;
        }
        .btn-theme {
          padding: 3px 17px;
          margin-right: 15px;
          font-size: 1rem;
        }
        .btn-light {
          color: $product-page-color;
          border: 1px solid $border-color;
          &:hover {
            color: $text-white;
            border: 1px solid $border-secondary;
          }
        }
        .selected {
          border: 1px solid $border-secondary;
          background: $bg-white;
          color: $text-secondary;
          &:hover {
            color: $text-secondary;
          }
        }
      }
      &-qty {
        margin-bottom: 15px;
        &-title {
          text-transform: capitalize;
          font-size: 1rem;
          color: $text-primary;
          margin-right: 43px;
        }
        &-amount {
          padding: 2px 16px;
          border-radius: 0.8rem;
          background: $quantity-bg-color;
          border: 1px solid $border-secondary;
        }
        &-number {
          font-size: 1.14rem;
        }
      }
      &-submit {
        padding: 15px;
        border: 2px solid $border-color;
        border-radius: 0.8rem;
        background: $background-white;
        margin: 0 -16px;
        &-price {
          font-size: 1.28rem;
          font-weight: 700;
        }
        .btn-theme {
          padding: 2px 8px;
          font-size: 0.85rem;
        }
        &-cart-wrapper {
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          margin-bottom: 0;
        }
        &-like {
          &-wrapper {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 20px;
            padding: 10px;
            border-radius: 50%;
            border: 1px solid $border-color;
            margin-bottom: 0;
            .active {
              transition: 0.3s linear;
              margin-top: 2px;
            }
            .hover {
              display: none !important;
              margin-top: 2px;
            }
            &:hover .active {
              display: none !important;
            }
            &:hover .hover {
              display: block !important;
            }
          }
        }
      }
    }
    &-additional-info {
      .btn-link {
        color: $text-primary;
        font-size: 1.42rem;
        font-weight: 700;
        text-transform: capitalize;
        text-align: left;
        position: relative;
        display: block;
        width: 100%;
        padding: 10px 0;
        transition: 0.3s linear;
        text-decoration: none;
        &:hover {
          color: $text-primary;
        }
        &:focus,
        &:active {
          box-shadow: none;
        }
        .product-collapse-icon {
          position: absolute;
          top: 15%;
          margin-left: 15px;
          font-size: 1.8rem;
          transition: 0.2s linear;
        }
      }
      .payments {
        &-logo {
          margin-bottom: 0;
          width: 9%;
        }
        a {
          font-size: 0.7rem;
        }
      }
    }
    .card {
      border: 2px solid $border-color;
      margin-bottom: 25px;
      .informations-table {
        margin-bottom: 0;
        vertical-align: middle;
      }
      .table-bordered tr:first-of-type td {
        border-top: none;
      }
      .table-bordered tr:last-of-type td {
        border-bottom: none;
      }
      .table-bordered td {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 2px solid $border-color;
        font-size: 0.85rem;
        color: $table-first-column-color;
        text-transform: capitalize;
        padding: 15px;
      }
      .table-bordered tr td:first-of-type {
        border-right: 2px solid $border-color;
      }
      .table-bordered tr td:last-of-type {
        color: $table-second-column-color;
        font-weight: 700;
      }
    }
    .user-reviews {
      .btn-theme {
        padding: 12px 24px;
        font-weight: 700;
      }
      .user-review-img-wrapper {
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
      }
      .user-review-info {
        font-size: 1rem;
        color: $text-primary;
        .user-name {
          font-weight: 700;
          text-transform: capitalize;
        }
        .user-review-date {
          font-size: 0.85rem;
          color: $user-review-date;
        }
      }
      .user-review-content {
        color: $text-primary;
        font-size: 1rem;
      }
    }
  }
  .product-page {
    .product {
      margin-bottom: 30px;

      .page-title,
      .product-make-title {
        text-transform: uppercase;
      }
      .page-title {
        margin-bottom: 5px;
      }
      .product-purchase {
        &-specs {
          .btn-light {
            padding: 9px 18px;
          }
        }
        &-qty {
          &-amount {
            padding: 9px 18px;
          }
        }
        &-submit {
          max-width: 400px;
          &-price {
            font-size: 2.57rem;
            color: $text-primary;
          }
          .btn-theme {
            font-size: 1.14rem;
            padding: 4px 6px;
          }
          &-like {
            &-wrapper {
              .active {
                margin-top: -1px;
              }
              .hover {
                margin-top: 3px;
              }
            }
          }
        }
        .product-additional-info-delivery {
          .title {
            margin-right: 25px;
          }
          .content {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .payments {
          .title {
            margin-right: 18px;
          }
          &-logo {
            width: 6%;
            margin-bottom: 0;
          }
        }
      }
      .nav-tabs {
        border-bottom: 2px solid $border-secondary;
        margin-bottom: 8px;
        .nav-item {
          margin-bottom: 0;
          .nav-link {
            text-transform: capitalize;
            border-bottom: none;
            padding: 9px 15px;
            font-size: 1.14rem;
            font-weight: 700;
            border: none;
            border-radius: 0;
            transition: 0.3s linear;
            color: $text-primary;
            &:hover,
            &.active {
              background: $background-secondary;
              color: $text-white;
              border-radius: 0;
              border: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) {
  .main-content {
    .product {
      &-additional-info {
        .payments {
          a {
            font-size: 1rem;
          }
        }
      }
    }
    .services {
      max-width: 400px;
      margin: 0 auto 30px auto;
    }
  }
}

@media only screen and (min-width: 576px) {
  .main-content {
    .container {
      padding: 0 15px;
    }
    .product-page {
      .product {
        #slideshow-thumbs {
          li {
            transition: 0.5s linear;
            border: 2px solid transparent;
            a {
              display: block;
              width: 100%;
              height: 100%;
            }
            &:hover {
              border: 2px solid $border-secondary;
            }
          }
        }
        .product-additional-info-delivery {
          .title {
            margin-right: 25px;
          }
          .content {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 366px;
          }
        }
        .product-purchase {
          .payments {
            &-logo {
              width: 7%;
              margin-bottom: 0;
              &:last-of-type {
                margin-right: 33px !important;
              }
            }
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .services {
      max-width: 100%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .main-content {
    .product-page {
      .page-title {
        font-size: 1.71rem;
      }
      .product {
        #slideshow-thumbs {
          li {
            margin-bottom: 20px;
          }
        }

        .product-purchase {
          .product-additional-info-delivery {
            .title {
              margin-right: 0;
            }
            .content {
              width: 186px;
            }
          }
          .payments {
            .title {
              margin-right: 6px;
            }
            &-logo {
              width: 6%;
              &:last-of-type {
                margin-right: 17px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .main-content {
    .product-page {
      .product {
        margin-bottom: 60px;
        .page-title {
          margin-bottom: 15px;
        }
        #slideshow-thumbs {
          li {
            margin-bottom: 30px;
          }
        }
        &-purchase {
          &-submit {
            margin: 0;
          }
        }
        .product-purchase {
          .product-additional-info-delivery {
            .title {
              margin-right: 10px;
            }
            .content {
              width: 321px;
            }
          }
          .payments {
            .title {
              margin-right: 6px;
            }
            &-logo {
              width: 7%;
              &:last-of-type {
                margin-right: 15px !important;
              }
            }
          }
        }
        .nav-tabs {
          .nav-item {
            .nav-link {
              padding: 5px 27px;
              font-size: 1.42rem;
            }
          }
        }
      }
    }
    .services {
      margin-bottom: 70px;
    }
    .recently-viewed {
      margin-bottom: 70px;
      .page-title {
        font-size: 2.57rem;
      }
    }
    .related-products {
      margin-bottom: 60px;
      .page-title {
        font-size: 2.57rem;
      }
      .show-more {
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (min-width: 1230px) {
  .main-content {
    .product-page {
      .product {
        margin-bottom: 60px;
        .product-purchase {
          &-qty {
            margin-bottom: 20px !important;
          }
          .product-additional-info-delivery {
            .title {
              margin-right: 15px;
            }
            .content {
              width: 421px;
            }
          }
          .payments {
            .title {
              margin-right: 9px;
            }
            &-logo {
              width: 8%;
              &:last-of-type {
                margin-right: 26px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .main-content {
    .product-page {
      .page-title {
        font-size: 2.2rem;
      }
      .product {
        margin-bottom: 60px;
        &-status {
          margin-bottom: 34px !important;
        }
        .product-purchase {
          &-qty {
            margin-bottom: 50px !important;
          }
          .product-additional-info-delivery {
            .title {
              margin-right: 25px;
            }
            .content {
              width: 496px;
            }
          }
          .payments {
            .title {
              margin-right: 19px;
            }
            &-logo {
              width: 8%;
              &:last-of-type {
                margin-right: 54px !important;
              }
            }
          }
        }
      }
    }
  }
}
